/* Variables */
/* Samall Navegation */

.hero {
  background: url("../img/keyvisual.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; 
  color:white;
 }
.hero h1{
  margin-top: 2.5em;
  font-size: 8em;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.logo{
  margin-bottom: .3em;
  font-size: 2rem;
  color:white;
}
.logo-icon {
  margin: 7px;
  max-width: 53px;
}
.top-bar{
  position: relative;
}
.top-bar ul{
  background-color: transparent;

}
section.row.align-middle {
    height: 100vh;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}

/* Medium-Up Navigation */
@media only screen and (min-width:40rem){
  .logo-icon {
    margin-right: 7px;
    max-width: 53px;
  }
  .top-bar {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  .top-bar ul{
  background-color: transparent;
  }
  .logo-icon{
    margin: 7px;
  }
}
