/* Variables */
/* Samall Navegation */

.hero {
  background: url("../img/dis_universe_htfm.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; 
 }
.logo{
  margin-bottom: .54em;
  font-size: 2rem;
}
.logo-icon {
  margin-right: 7px;
  max-width: 53px;
}
.top-bar {
    position: absolute;
    z-index: 1;
    width: 100vw;
}

/* Medium-Up Navigation */
@media only screen and (min-width:40rem){
  .logo-icon {
    margin-right: 7px;
    max-width: 53px;
  }
}
